{% extends "common/layout.twig" %}

{% block title %}Iwanttogoout{% endblock %}

{% block styles_top %}
    <link href="{{ app.request.basepath }}/assets/css/card.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/assets/css/timeline.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/assets/css/user.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-md-10 nopadding" id="wrapper">
        {% include 'common/header_white.twig' %}
        <div id="user_container" class="col-md-12 nopadding">
            <div class="user">
                <div class="background bg-team-{{ user.team_id }}">
                    <div class="overlay"></div>
                    <div class="username">{{ user.username }}</div>
                    <div class="pic">
                        {% if user.picture is not empty %}
                            <img src="{{ images_service('users', 'small', user.picture) }}" />
                        {% else %}
                            <i class="icomoon icomoon-user"></i>
                        {% endif %}
                    </div>
                </div>
                <div style="margin: 60px 30px;" class="row">
                    {% if app.session.get('user') is not empty and app.session.get('user').id == user.id %}
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-grey">
                                {{ 'events_incoming'|trans }}<i class="pin pin-green"></i>
                            </div>
                            <div class="card-body">
                                {% if incomingEvents is not empty %}
                                    <div class="timeline">
                                        {% for event in incomingEvents %}
                                            {% if event.event is not empty %}
                                                <div class="item event event_team_{{ event.event.team_id }} clearfix">
                                                    <div class="bubble"><i class="icomoon-event-type-{{ event.event.event_type }}"></i></div>
                                                    <div class="date">{{ event.event.start_at|localizeddate('full', 'short') }}</div>
                                                    <div class="title pull-left">{{ ('event_type_' ~ event.event.event_type)|trans }}</div>
                                                    {% if event.event.location_data is not empty %}
                                                        <div class="location pull-right" title="{{ event.event.location_data.formatted_address }}"><i class="icomoon-geoloc"></i> 
                                                            {% set break = false %}
                                                            {% for item in event.event.location_data.address_components if not break %}
                                                                {% if "locality" in item.types %}
                                                                    {{ item.long_name }}
                                                                    {% set break = true %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="no-event">
                                        <p>{{ 'no_event'|trans }}</p>
                                        <a href="{{ url('www_events_index') }}" class="button button-transparent-blue">
                                            <i class="icomoon-join"></i> {{ 'join_event'|trans }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="{% if app.session.get('user') is not empty and app.session.get('user').id == user.id %}col-md-3{% else %}col-md-6{% endif %}">
                        <div class="card">
                            <div class="card-header card-header-grey">
                                {{ 'last_attended'|trans }}<i class="pin pin-orange"></i>
                            </div>
                            <div class="card-body">
                                {% if pastEvents is not empty %}
                                    <div class="timeline past-events">
                                        {% for event in pastEvents %}
                                            {% if event.event is not empty %}
                                                <div class="item event clearfix">
                                                    <div class="bubble"><i class="icomoon-event-type-{{ event.event.event_type }}"></i></div>
                                                    <div class="date">{{ event.event.start_at|localizeddate('full', 'short') }}</div>
                                                    <div class="title pull-left">{{ ('event_type_' ~ event.event.event_type)|trans }}</div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="no-event">
                                        <p>{{ 'no_event'|trans }}</p>
                                        {% if app.session.get('user') is not empty and app.session.get('user').id == user.id %}
                                            <a href="{{ url('www_events_index') }}" class="button button-transparent-blue">
                                                <i class="icomoon-join"></i> {{ 'join_event'|trans }}
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="{% if app.session.get('user') is not empty and app.session.get('user').id == user.id %}col-md-3{% else %}col-md-6{% endif %}">
                        <div class="card">
                            <div class="card-header card-header-grey">
                                {% if app.session.get('user') is not empty and app.session.get('user').id == user.id %}
                                    {{ 'your_events'|trans }}
                                {% else %}
                                    {{ 'his_events'|trans }}
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {% if myEvents is not empty %}
                                    <div class="my-events">
                                        {% for event in myEvents %}
                                            <div class="item event event_team_1 clearfix">
                                                <div class="clearfix">
                                                    <div class="title pull-left">{{ ('event_type_' ~ event.event_type)|trans }}</div>
                                                    <div class="bubble pull-right"><i class="icomoon-event-type-{{ event.event_type }}"></i></div>
                                                </div>
                                                <div class="date"><i class="icomoon-clock"></i> {{ event.start_at|localizeddate('full', 'short') }}</div>
                                                {% if event.location_data is not empty %}
                                                    <div class="location" title="{{ event.location_data.formatted_address }}">
                                                        <i class="icomoon-geoloc"></i>
                                                        {% set break = false %}
                                                        {% for item in event.location_data.address_components if not break %}
                                                            {% if "locality" in item.types %}
                                                                {{ item.long_name }}
                                                                {% set break = true %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                <div class="attenders"><i class="icomoon-user"></i> {{ event.eventsvotes|length }} people</div>
                                                {% if app.session.get('user') is not empty and app.session.get('user').id == user.id %}
                                                    <span class="button button-transparent-grey popin" data-target="{{ url('www_events_edit', { userId: user.id, eventId: event.id }) }}" id="edit_event" data-latitude="{{ event.location.latitude }}" data-longitude="{{ event.location.longitude }}">
                                                        <i class="icomoon-edit"></i> {{ 'edit'|trans }}
                                                    </span>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="no-event">
                                        <p>{{ 'no_event'|trans }}</p>
                                        {% if app.session.get('user') is not empty and app.session.get('user').id == user.id %}
                                            <span id="add_event" class="button button-transparent-blue popin" data-target="{{ url('www_events_create') }}">
                                                <i class="icomoon-join"></i> {{ 'add_event'|trans }}
                                            </span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
