<div id="events_action" class="m-t-2">
	<div class="ov-hidden">
		{% if app.session.get('isAuthenticated') %}
			<span id="add_event" class="button button-dark-blue pull-left popin" data-target="{{ url('www_events_create') }}"><i class="icon icon-plus-white pull-left"></i>{{ 'add_event'|trans }}</span>
		{% endif %}
		<div id="elements" class="pull-right">
			<span class="element pull-left">{{ 'order_by'|trans }} :</span>
			<div class="pull-right">
				<span id="popular" class="element hoverable pull-right" data-type="popularity" data-request=""><i class="icon icon-popularity pull-left"></i><span class="label-action">{{ 'popularity'|trans }}</span></span>
				<span id="near" class="element hoverable pull-right" data-type="near" data-request=""><i class="icon icon-pointer pull-left"></i><span class="label-action">{{ 'range'|trans }}</span></span>
				<span id="recent" class="element hoverable pull-right" data-type="date" data-request=""><i class="icon icon-calendar pull-left"></i><span class="label-action">{{ 'date'|trans }}</span></span>
			</div>
		</div>
	</div>
	<div class="ov-hidden m-t-2">
		<span class="button button-transparent-blue col-xs-9 col-sm-9 col-md-9 col-lg-9" id="refresh"><i class="icon icon-refresh"></i>{{ 'refresh_results'|trans }}</span>
		<span class="button button-transparent-blue col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right nopadding" id="geoloc"><i class="icon icon-geoloc"></i></span>
	</div>
</div>
