{% extends "common/layout_ajax.twig" %}

{% block content %}
<section>
    <header class="headband headband-white m-b-3"><span class="pull-right" id="close">Close</span></header>
    <div class="col-xs-12 col-lg-8 form-section">
        <h4>{{ "add_event" | trans }}</h4>
        <form action="{{ form.action }}" method="{{ form.method }}" role="form" id="add_event">
            {{ form_widget(form.view) }}
        </form>
        <div class="form-group clearfix">
            <label for="location" class="col-md-12 m-t-1">Placez l'événement sur la carte</label>
            <div class="col-md-12">
                <div class="search_bar hideSubmit" id="search_bar">
                    <input type="button" id="submit_location_add_event" name="submit_location" class="button button-dark-blue pull-right ignore" value="{{ 'search_location_button'|trans }}">
                    <input type="text" name="location_add_event" id="location_add_event" placeholder="{{ 'search_location'|trans }}" class="ignore" />
                    <input type="hidden" id="location_has_changed_add_event" name="location_has_changed_add_event" value="0" class="ignore" />
                    <input type="hidden" id="location_validated_add_event" name="location_validated_add_event" value="0" class="ignore" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 m-t-1">
            <div id="map_add_event"></div>
            <div class="alert alert-danger m-t-1 hidden" data-for="map_add_event"></div>
        </div>
        <button type="button" class="button button-dark-blue m-t-1" id="submit_add_event">
            {% if event is defined and event.id is not empty %}
                {{ "edit_event_button" | trans }}
            {% else %}
                {{ "add_event_button" | trans }}
            {% endif %}
        </button>
        {% for error in app.session.getFlashBag.get('errors') %}
            <div class="alert alert-danger">{{ error|raw }}</div>
        {% endfor %}
    </div>
</section>
{% endblock %}