{% extends "common/layout.twig" %}

{% block title %}Pokeasy - Meet and play with Pokémon GO users{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding" id="wrapper">
        {% include 'common/header_white.twig' with {'search_bar' : true} %}
		<div>
			<div id="events_container" class="col-md-6 nopadding">
				<div id="events">
					{% block actions %}
						{% include 'events/actions.twig' %}
					{% endblock %}
					<article class="card _team_name_ _color_" id="model">
						<h4>_title_<img src="" width="25px" height="25px" alt="_img_alt_" class="pull-right" /></h4>
						<div class="data_info ov-hidden">
							<div class="ov-hidden">
								<p class="date pull-left">
									<i class="pin _pin_color_ pull-left"></i><span></span><strong></strong>
								</p>
								<p class="votes pull-right" data-id="votes">
									<i class="icomoon-user pull-left"></i><strong>_votes_</strong>
								</p>
							</div>
							<p class="distance pull-left">
								<strong>_distance_</strong>m
							</p>
							<p class="user pull-right">
								{{ "created_by" | trans }} <a href="_userprofile_">_username_</a>
							</p>
						</div>
						_wording_join_
					</article>
				</div>
			</div>
			<section id="map_container" class="col-md-6 nopadding">
				<header class="headband headband-white"><span class="pull-right" id="close">Close</span></header>
				<div id="map"></div>
			</section>
		</div>
	</div>
	{% block script %}
        {% include 'events/list_script.twig' %}
    {% endblock %}
{% endblock %}
