<script>
    var event_language_array = {
        "event_title_type_1" : "{{'event_title_type_1' | trans }}",
        "event_title_type_2" : "{{'event_title_type_2' | trans }}",
        "event_title_type_3" : "{{'event_title_type_3' | trans }}",
        "event_day" : "{{'event_day' | trans }}",
        "event_join" : "{{'event_join' | trans }}",
        "event_in" : "{{'event_in' | trans }}",
        "event_starts_in" : "{{'event_starts_in' | trans }}",
        "event_has_started" : "{{'event_has_started' | trans }}",
        "event_has_started_at" : "{{'event_has_started_at' | trans }}",
        "event_ago" : "{{'event_ago' | trans }}",
    };

    var default_map = layout_continuousRender = form_events = null;
    document.addEventListener("DOMContentLoaded", function(event) {
        var map = document.getElementById("map"), location = document.getElementById("location");
        if (location.value!="") {
            var latitude = parseFloat(document.getElementById("latitude").value), longitude = parseFloat(document.getElementById("longitude").value);
            event_map = new classMapEvent(map, {latitude, longitude}).init();
            event_map.setUser({"latitude": latitude, "longitude": longitude});
        } else {
            event_map = new classMapEvent(map).init();
            event_map.setUser();
        }
        
        layout_continuousRender = new classContinuousRender(document.getElementById("events"), 340, 20);
        
        form_events = new classFormEvent(document.getElementById("filters")), url_parameters = cookie_default.get("form_event");
        
        var event_action = cookie_default.get("event_action");
        if (event_action==null) {
            event_action = "near";
            cookie_default.set("event_action", "near");
        }
        event_api.getEvents(event_action, null, url_parameters);
        
        if (url_parameters!=null)
            form_events.loadForm();
        else
            form_events.checkOptions();

        form_events.updateFilters();
        form_events.setActiveFilter(event_action);
    });
</script>