<section class="container-big text-center bg-white ov-hidden" id="conclusion">
	<header>
		<h3>{{ 'home_conclusion'|trans }}</h3>
	</header>
	<div class="col-md-12 col-centered m-t-3">
		<a class="button button-dark-blue" href="{{ url('www_events_index') }}">{{ 'home_button_find'|trans }}</a>
		<a class="button button-white" href="">{{ 'home_button_create'|trans }}</a>
	</div>
</section>