<footer class="headband headband-blue noselect">
	<p class="pull-left">{{ 'copyright'|trans }}</p>
	<div class="pull-right">
		<nav>
			<ul>
                <li>
                    <a class="grey" href="{{ url('www_contact') }}">{{ "contact_us"|trans }}</a>
                </li>
				<li>
					<a class="grey" href="{{ url('www_privacy') }}">{{ "privacy"|trans }}</a>
				</li>
				<li>
					<a class="grey" href="{{ url('www_terms') }}">{{ "terms"|trans }}</a>
				</li>
				<li>
					<a class="grey" href="{{ url('www_aboutus') }}">{{ "about"|trans }}</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>