{% extends "common/layout_nude.twig" %}

{% block title %}Pokeasy - Meet and play with Pokémon GO users{% endblock %}

{% block lateral_nav %}{% endblock %}

{% block content %}
	<div class="col-md-12 col-sm-12 col-xs-12 nopadding" id="home">
	    {% include 'common/header_blue.twig' %}
	    {% include 'home/introduction.twig' %}
	    {% include 'home/speach_1.twig' %}
	    {% include 'home/speach_2.twig' %}
	    {% include 'home/conclusion.twig' %}
	    {% include 'home/footer.twig' %}
	</div>
	{% include 'home/home_script.twig' %}
{% endblock %}