<section class="container-big ov-hidden" id="introduction">
	<div class="col-md-12 col-lg-9">
		<header>
			<h2>{{ 'home_title'|trans }}</h2>
		</header>
		<p class="m-t-3 m-b-3">{{ 'home_intro'|trans }}</p>
		<div class="input_text-like ov-hidden col-lg-8 col-md-12">
			<i class="icon icon-search pull-right" id="submit_location"></i>
			<input type="text" name="location" id="location" placeholder="{{ 'home_placeholder'|trans }}" class="pull-left" />
		</div>
	</div>
</section>