<section class="container-big text-center bg-white ov-hidden" id="speach_1">
	<header>
		<h3>{{ 'home_speach_1_title'|trans }}</h3>
	</header>
	<p class="col-md-12 col-lg-7 col-centered m-t-3 m-b-3">{{ 'home_speach_1_text'|trans }}</p>
	<div class="col-md-12 col-lg-9 col-centered">
		<div class="col-md-4">
			<span class="event_type red"></span>
			<p class="name red">PokéGym</p>
			<p>{{ 'home_pokegym_text'|trans }}</p>
		</div>
		<div class="col-md-4">
			<span class="event_type blue"></span>
			<p class="name blue">PokéStop</p>
			<p>{{ 'home_pokestop_text'|trans }}</p>
		</div>
		<div class="col-md-4">
			<span class="event_type yellow"></span>
			<p class="name yellow">{{ 'group_walk'|trans }}</p>
			<p>{{ 'home_groupwalk_text'|trans }}</p>
		</div>
	</div>
</section>