<section class="container-big text-center ov-hidden" id="speach_2">
	<header>
		<h3>{{ 'home_speach_2_title'|trans }}</h3>
	</header>
	<p class="col-md-12 col-lg-7 col-centered m-t-3 m-b-3">{{ 'home_speach_2_text'|trans }}</p>
	<img src="assets/img/screens.png" name="screens" />
</section>