{% extends "common/layout.twig" %}

{% block title %}Dashboard - Back-Office{% endblock %}

{% block styles_top %}
    <link href="{{ app.request.basepath }}/bo/css/morris.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-calendar-o fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{ eventsToday }}</div>
                                            <div>New Events today!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ url('bo_events_list') }}">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-users fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{ usersToday }}</div>
                                            <div>New Users today!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ url('bo_users_list') }}">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-sign-in fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{ activityToday }}</div>
                                            <div>Connections today!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-left">&nbsp;</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-area-chart fa-fw"></i> Events/ Users progression
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart fa-fw"></i> Events / Users proportions by teams
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-chart"></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-pie-chart fa-fw"></i> Teams Proportion
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_bottom %}
    <script src="{{ app.request.basepath }}/bo/js/raphael-min.js"></script>
    <script src="{{ app.request.basepath }}/bo/js/morris.min.js"></script>
    <script type="text/javascript">
        $(function() {
            Morris.Area({
                element: 'morris-area-chart',
                data: [
                    {% for period,creation in creations %}
                    {
                        period: '{{ period }}',
                        a: {{ creation.events_team_1 }},
                        b: {{ creation.users_team_1 }},
                        c: {{ creation.events_team_2 }},
                        d: {{ creation.users_team_2 }},
                        e: {{ creation.events_team_3 }},
                        f: {{ creation.users_team_3 }},
                        g: {{ creation.events_validated }},
                        h: {{ creation.users_validated }},
                        i: {{ creation.events_total }},
                        j: {{ creation.users_total }},
                    },
                    {% endfor %}
                ],
                xkey: 'period',
                ykeys: ['a','b','c','d','e','f','g','h','i','j'],
                labels: ['Events Red', 'Users Red', 'Events Blue', 'Users Blue', 'Events Yellow', 'Users Yellow', 'Events validated', 'Users validated', 'Events total', 'Users total',],
                pointSize: 2,
                hideHover: 'auto',
                resize: true,
                lineColors: ['#F04F4F', '#FF6969', '#6CC9EF', '#86E3FF', '#E6CE65', '#FFE87F', '#7CB47C', '#96CE96', '#8E9AA3', '#A7B3BC']
            });

            Morris.Donut({
                element: 'morris-donut-chart',
                data: [
                    {% for ut in usersByTeam %}
                        {
                            label: '{{ ut.label }}',
                            value: {{ ut.count }}
                        },
                    {% endfor %}
                ],
                resize: true,
                colors: [
                    '#F04F4F',
                    '#6CC9EF',
                    '#E6CE65'
                ],
            });

            Morris.Bar({
                element: 'morris-bar-chart',
                data: [
                    {% for et in eventsByTeam %}
                        {
                            y: '{{ et.label }}',
                            a: {{ et.eventsCount }},
                            b: {{ et.usersCount }}
                        },
                    {% endfor %}
                ],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Events', 'Users'],
                hideHover: 'auto',
                resize: true,
                barColors: function (row, series, type) {
                    if (row.label == 'Red') {
                        return series.key == 'a' ? '#F04F4F' : '#FF6969';
                    }
                    if (row.label == 'Blue') {
                        return series.key == 'a' ? '#6CC9EF' : '#86E3FF';
                    }
                    if (row.label == 'Yellow') {
                        return series.key == 'a' ? '#E6CE65' : '#FFE87F';
                    }
                }
            });

        });
    </script>
{% endblock %}