{% extends "common/layout.twig" %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="col-md-10 nopadding" id="wrapper">
        {% include 'common/header_white.twig' %}
        <div>
            <h1>{{ message }}</h1>
        </div>
    </div>
{% endblock %}
