<!-- Filters -->
<div class="filters" id="filters">
	<div class="filter">
		<div class="ov-hidden">
			<span class="field_label pull-left">{{ 'teams'|trans }} :</span>
			<span class="pull-right shortcut" data-target="team_id">{{ 'show_all'|trans }}</span>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="team_id" id="valor" value="1" class="red" /><label for="valor">{{ 'valor'|trans }}</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="team_id" id="mysthic" value="2" class="blue" /><label for="mysthic">{{ 'mysthic'|trans }}</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="team_id" id="instinct" value="3" class="yellow" /><label for="instinct">{{ 'instinct'|trans }}</label>
		</div>
	</div>
	<div class="filter">
		<div class="ov-hidden">
			<span class="field_label pull-left">{{ 'events'|trans }} :</span>
			<span class="pull-right shortcut" data-target="event_type">{{ 'show_all'|trans }}</span>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="event_type" id="pokegym" value="1" class="white" /><label for="pokegym">{{ 'pokegym'|trans }}<img src="/assets/img/gym.svg" width="20px" height="20px" /></label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="event_type" id="pokestop" value="2" class="white" /><label for="pokestop">{{ 'pokestop'|trans }}<img src="/assets/img/pokestop.svg" width="20px" height="20px" /></label>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="event_type" id="walk" value="3" class="white" /><label for="walk">{{ 'group_walk'|trans }}<img src="/assets/img/walk.svg" width="20px" height="20px" /></label>
		</div>
	</div>
</div>