{% extends 'form_div_layout.html.twig' %}

{% block widget_attributes %}test
    {% if type is defined and type != 'hidden' %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% endif %}

    {{ parent() }}
{% endblock widget_attributes %}

{% block form_widget_simple %}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <div class="alert alert-danger m-t-1 m-b-1 hidden" data-id="{{ id }}"></div>
{% endblock form_widget_simple %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group clearfix{% if errors|length > 0 %} has-error{% endif %}">
            {{ form_label(form, label|default(null)) }}
            {% set ctrl_width = theme_options.control_width is defined ? theme_options.control_width : 'col-md-9' %}
            <div class="{{ ctrl_width }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
            {% for attrname,attrvalue in attr %}
                {% if attrname == 'help' %}
                    <div class="help-block col-md-offset-3 col-md-9">{{ attrvalue }}</div>{% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_widget %}
    {% if 'choice' not in form.parent.vars.block_prefixes %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' control-standalone')|trim}) %}
    {% endif %}
    <div class="checkbox">
        {{ parent() }}
    </div>
{% endblock checkbox_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_label(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
    {% set type = 'select' %}
    {{ parent() }}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
    {% set type = 'textarea' %}
    {{ parent() }}
{% endblock textarea_widget %}

{% block form_label %}
    {% spaceless %}
        {% set is_multichoice_widget = (checked is defined) and ('choice' in form.parent.vars.block_prefixes) %}

        {% if is_multichoice_widget %}
            {% set label_attr = label_attr|merge({'class': 'radio' in block_prefixes ? 'radio' : 'checkbox'}) %}
        {% else %}
            {% set lbl_width = theme_options.label_width is defined ? theme_options.label_width : 'col-md-3' %}
            {% set label_attr = label_attr|merge({'class': 'control-label ' ~ lbl_width}) %}
            {# {% set label_attr = label_attr|merge({'class': 'control-label'}) %} #}
        {% endif %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
            {% if is_multichoice_widget %}
                {{ form_widget(form) }}
            {% endif %}
        </label>
    {% endspaceless %}
{% endblock form_label %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_prototype') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            <div class="form-collection{{ form|length ? '' : ' hide' }}">
                {% for rows in form %}
                    {{ _self.collection_field(rows, allow_delete) }}
                {% endfor %}
            </div>
            {{ form_rest(form) }}
        </div>
        {% if allow_add %}
            <a href="#" class="btn btn-info form-collection-add">Ajouter</a>
        {% endif %}
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_prototype %}
    {{ _self.collection_field(prototype, allow_delete) }}
{% endblock collection_prototype %}

{% macro collection_field(rows, allow_delete) %}
    {% spaceless %}
        <div class="form-collection-element">
            {% for row in rows %}
                {{ form_row(row) }}
            {% endfor %}
            {% if allow_delete %}
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <a class="btn btn-danger remove" href="#">Supprimer</a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}

{% block form_errors %}
    {% spaceless %}
        <div class="alert alert-danger m-t-1 m-b-1 hidden" data-id="{{ id }}"></div>
        {% if errors|length > 0 %}
            <p class="alert alert-danger">
                {% for error in errors %}
                    {{ error.message|trans }}
                {% endfor %}
            </p>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}