<!-- Header -->
<header id="mainHeader" class="headband headband-white noselect hideSubmit">
    <div class="hamburger pull-left"></div>
    {% if app.session.get('isAuthenticated') %}
        <div class="user_info clickTrigger" data-target="menuHeader">
            <div class="user_info_team team_{{ app.session.get('user').team_id }}"></div>
            <i class="icomoon-user white"></i>
            <span class="username">{{ app.session.get('user').username }}</span>
        </div>
    {% else %}
        <div class="user_info">
            <span class="link popin" data-target="{{ url('www_auth_signin') }}">{{ 'signin_signout'|trans }}</span>
        </div>
    {% endif %}

    {% if menu_title is defined and menu_title is not empty %}
        <h2>{{ menu_title }}</h2>
    {% elseif search_bar is defined and search_bar == true %}
        <input type="hidden" id="location_has_changed" name="has_location" value="0" />
        <input type="hidden" id="location_validated" name="has_location" value="0" />
        <div class="search_bar">
            <input type="button" id="submit_location" name="submit_location" class="button button-dark-blue pull-right" value="{{ 'search_location_button'|trans }}">
            <i class="icon icon-search pull-left"></i>
            {% if app.request.get('location') is not empty %}
                <input type="text" name="location" id="location" placeholder="{{ 'search_location'|trans }}" value="{{app.request.get('location')}}"/>
                <input type="hidden" name="latitude" id="latitude" value="{{app.request.get('latitude')}}"/>
                <input type="hidden" name="longitude" id="longitude" value="{{app.request.get('longitude')}}"/>
            {% else %}
                <input type="text" name="location" id="location" placeholder="{{ 'search_location'|trans }}" />
            {% endif %}
        </div>
    {% endif %}
</header>
{% if app.session.get('isAuthenticated') %}
<ul class="menu" id="menuHeader">
    <li><a href="{{ url('www_users_show', {userId: app.session.get('user').id}) }}">{{ 'my_account'|trans }}</a></li>
    <li><a href="{{ url('www_auth_logout') }}">{{ 'logout'|trans }}</a></li>
</ul>
{% endif %}
