<!-- Header -->
<header id="mainHeader" class="headband headband-blue noselect hideSubmit">
    <div class="hamburger pull-left"></div>
    {% if app.session.get('isAuthenticated') %}
        <div class="user_info clickTrigger" data-target="menuHeader">
            <div class="user_info_team team_{{ app.session.get('user').team_id }}"></div>
            <i class="icomoon-user white"></i>
            <span class="username">{{ app.session.get('user').username }}</span>
        </div>
    {% else %}
        <span class="button button-white popin pull-right" data-target="{{ url('www_auth_signin') }}">{{ 'signin_signout'|trans }}</span>
    {% endif %}
    <h1 class="logo"><a href="{{ url('www_home') }}"><img src="{{ app.request.basepath }}/assets/img/logo.svg" alt="Pokeasy" /></a><span class="logo_text">Pokeasy</span></h1>
</header>
{% if app.session.get('isAuthenticated') %}
<ul class="menu" id="menuHeader">
    <li><a href="{{ url('www_users_show', {userId: app.session.get('user').id}) }}">{{ 'my_account'|trans }}</a></li>
    <li><a href="{{ url('www_auth_logout') }}">{{ 'logout'|trans }}</a></li>
</ul>
{% endif %}