{% block lateral_nav %}
	<div class="lateral_nav lateral_nav-dark-blue col-sm-12 col-xs-12 nopadding" id="lateral_nav">
	    <h1 class="logo"><a href="{{ url('www_home') }}"><img src="{{ app.request.basepath }}/assets/img/logo.svg" alt="Pokeasy" /></a><span class="logo_text">Pokeasy</span></h1>
		<nav>
			<ul>
				<li{% if app.request.attributes.get('_route') == 'www_events_index' %} class="active"{% endif %}>
					<div class="content">
	                    <a href="{{ url('www_events_index') }}"><h5>{{ 'events'|trans }} <i class="icon icon-arrow-down-white"></i></h5></a>
						<div class="extend">
							{% include 'common/filters.twig' %}
						</div>
					</div>
				</li>
				<li{% if app.request.attributes.get('_route') == 'www_contact' %} class="active"{% endif %}><a href="{{ url('www_contact') }}"><h5>{{ 'contact_us'|trans }}</h5></a></li>
                <li{% if app.request.attributes.get('_route') == 'www_privacy' %} class="active"{% endif %}><a href="{{ url('www_privacy') }}"><h5>{{ 'privacy'|trans }}</h5></a></li>
                <li{% if app.request.attributes.get('_route') == 'www_terms' %} class="active"{% endif %}><a href="{{ url('www_terms') }}"><h5>{{ 'terms'|trans }}</h5></a></li>
				<li{% if app.request.attributes.get('_route') == 'www_aboutus' %} class="active"{% endif %}><a href="{{ url('www_aboutus') }}"><h5>{{ 'about'|trans }}</h5></a></li>
			</ul>
		</nav>
        <div class="copyright">
            {{ 'copyright'|trans }}
        </div>
	</div>
{% endblock %}
