<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ app.request.basepath }}/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{{ app.request.basepath }}/assets/css/global.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/assets/css/elements.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/assets/css/pages.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/assets/css/specific.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,700|Pacifico' rel='stylesheet' type='text/css'>
        {% block styles_top %}{% endblock %}
        <script src="{{ app.request.basepath }}/assets/js/helpers.js"></script>
        <script src="{{ app.request.basepath }}/assets/js/classUser.js"></script>
        {% include 'common/user_script.twig' %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <section class="full">
            {% block content %}{% endblock %}
        </section>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsuSyKQwd1Rm2eiTV-6urJTI9RwSDdWv4"></script>
        <script src="{{ app.request.basepath }}/assets/js/classModal.js"></script>
        <script src="{{ app.request.basepath }}/assets/js/classMap.js"></script>
        <script src="{{ app.request.basepath }}/assets/js/classForm.js"></script>
    </body>
</html>
