<script>
	var user_datas = new Object();
	user_datas.id=user_datas.username="";
	{% if app.session.get('isAuthenticated') %}
		user_datas.id="{{ app.session.get('user').id }}";
		user_datas.username="{{ app.session.get('user').username }}";
    {% endif %}

    current_User = new classUser(user_datas);
    document.addEventListener("DOMContentLoaded", function(event) {
        getUserPosition(function (position) {
            current_User.setPosition(position);
            layout_continuousRender.emptyDOM();
            url_parameters = cookie_default.get("form_event");
            event_map.setUser();
            event_api.getEvents(form_events.active_filter, null, url_parameters);
        });
    });
</script>