.card {
    border: none;
    box-shadow: 0 1px 3px 0 rgba(197, 197, 197, 0.5);
}

.card-header {
    border-bottom: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-weight: 700;
    color: #34495e;
}
.card-header.card-header-grey {
    background-color: #fdfdfd;
}
.card-header .pin {
    float: none;
    display: inline-block;
    margin-left: 1rem;
}

.card-body {
    background-color: #ffffff;
    padding-top: 1.4rem;
    padding-bottom: 0;
    overflow-y: auto;
    margin-bottom: 1.4rem;
}
