/**
 * header styles
 */
.headband {
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    border-bottom:1px solid rgba(204, 204, 204, 0.5);
}
.headband #close {
    height: 80px;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "ProximaNovaLight";
    cursor: pointer;
}
.headband-white {
    background: #fff;
}
.headband-blue {
    background: #2c3e50;
    color: #fff;
}

.headband p {
    margin: 0;
}
.headband .logo img {
    margin-top: 0.6rem;
}

/**
 * user menu styles
 */
.menu {
    display: none;
    position: absolute;
    top: 79px;
    right: 0;
    width: 245px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    line-height: 40px;
    z-index: 200;
    border-left: 1px solid rgba(204, 204, 204, 0.5);
    border-top: 1px solid rgba(204, 204, 204, 0.5);
}
@media (max-width: 1110px) {
    .menu {
        width: 200px;
    }
}
.menu li a {
    display: block;
    padding: 0 0 0 2rem;
}
.menu li a:hover {
    background: #fdfdfd;
}
.user_info .link {
    display: block;
    height: 80px;
    padding-left: 2rem;
}


/**
 * lateral navigation styles
 */
.lateral_nav {
    width: 350px;
}
.lateral_nav h5 {
    padding: 2rem;
    font: 1em "ProximaNovaExtraBold";
    cursor: pointer;
}
.lateral_nav nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.lateral_nav nav li {
    text-transform: uppercase;
}
.lateral_nav nav li:not(.active) {
    border-bottom: 1px solid #2c3e50;
}
.lateral_nav li .extend {
    display: none;
}
.lateral_nav li h5 {
    color: #bdc3c7;
}
.lateral_nav li:not(.active) .icon-arrow-down-white {
    width: 8px;
    height: 14px;
    background-image: url("../img/chevron-right-grey.png");
}
.lateral_nav li.active h5 {
    color: #fff;
}
.lateral_nav li.active .extend {
    display: block;
}
.lateral_nav li i {
    float: right;
}

.lateral_nav-dark-blue {
    background: #34495e;
    color: #fff;
}
.lateral_nav-dark-blue h5 {
    border-bottom: 1px solid #34495e;
}
.lateral_nav-dark-blue nav li.active {
    background: #2c3e50;   
}

@media (max-width: 1110px) {
    .lateral_nav {
        position: absolute;
        height: 100%;
        transform: translateX(-100%);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        z-index: 300;
    }
    .lateral_show .lateral_nav {
        transform: translateX(0%);
    }
}
.lateral_nav .logo {
    display: block;
    text-align: center;
    font-weight: bold;
    background: #2c3e50;   
    line-height: 80px;
}
.lateral_nav .logo a {
    display: block;
    width: 100%;
}
.logo .logo_text {
    float: right;
    text-indent: -9999px;
}
/* { filters } */
.lateral_nav .filters {
    overflow: hidden;
    text-transform: none;
}
.lateral_nav .filters .filter {
    padding: 1rem 2rem;
}
.lateral_nav .filter .field_label {
    display: block;
    margin-bottom: 1rem;
    font-family: "ProximaNovaBold";
}
.lateral_nav .filters label {
    margin-bottom: 0.3rem;
    font-weight: 300;
}
.lateral_nav .filter .shortcut {
    font-size: 0.9em;
    color: #bdc3c7;
    cursor: pointer;
}
.lateral_nav .filter .checkbox img {
    margin-left: 1rem;
    opacity: 0.5;
}
.lateral_nav .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 28px;
    text-align: center;
}

/**
 * button styles
 */
.button {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 2rem;
    border-radius: 4px;
    font-family: "ProximaNovaBold";
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}
.button-square {
    width: 45px;
    text-align: center;
}

.button-white,
.button-white:hover {
    background: #fff;
    color: #34495e;
    border: 1px solid #34495e;
}
.button-red,
.button-red:hover {
    background: #CF4647;
    color: #fff;
    border-bottom: 1px solid #9D3536;
}
.button-blue,
.button-blue:hover {
    background: #3498DB;
    color: #fff;
    border-bottom: 1px solid #276D9C;
}
.button-dark-blue,
.button-dark-blue:hover {
    background: #34495e;
    color: #fff;
    border-bottom: 1px solid #1C2631;
}
.button-transparent-grey,
.button-transparent-grey:hover {
    background: none;
    color: #95a5a6;
    border: 1px solid #95a5a6; 
}
.button-transparent-blue,
.button-transparent-blue:hover {
    text-align: center;
    background: none;
    color: #34495e;
    border: 1px solid #34495e;
}


/**
 * link styles
 */
a.grey {
    color: #bdc3c7;
}
a.white,
a.grey:hover {
    color: #fff;
}
a.blue {
    color: #2c3e50;
}


/**
 * pin styles
 */
.pin {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.pin-green {
    background: #2ecc71;
}
.pin-orange {
    background: #e67e22;
}
.pin-red {
    background: #f04f4f;
}

/**
 * modal styles
 */
body.modal-close .modal {
    visibility: hidden;
}
body.modal-open {
    overflow: hidden;
}
.modal {
    display: block;
    position: fixed;
    z-index: 9999998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
.modal .top_header {
    margin-bottom: 2rem;
}
.modal h4 {
    margin-bottom: 2rem;
}
.modal #close {
    padding: 0 3rem;
    font-weight: 300;
}
.modal #content {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}
.modal.loading #content:before {
    content: '';
    z-index: 1000;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/pie.gif") center center no-repeat scroll #fff;
}


/* Searchbar with animated button */
.search_bar {
    width: 100%;
    height: 80px;
}
.search_bar input[type="text"] {
    width: calc(100% - 500px);
    margin-top: 1.7rem;
    line-height: 2.3rem;
    border: none;
    font-size: 1.4em;
    outline: none;
}

.search_bar input[name="submit_location"] {
    margin: 1.3rem 1.3rem 0 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hideSubmit input[name="submit_location"] {
    transform: translateX(170px);
}
.showSubmit input[name="submit_location"] {
    transform: translateX(0px);
}
@media (max-width: 1110px) {
    .search_bar input[type="text"] {
        width: calc(100% - 530px);
    }
}
@media (max-width: 680px) {
    .search_bar input[type="text"] {
        width: calc(100% - 450px);
        font-size: 1.2em;
        padding-left: 2rem;
    }

    .search_bar .icon-search {
        display: none;
    }
}
