* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 14px "ProximaNovaRegular" !important;
    font-weight: 300 !important;
    color: #2c3e50;
    background: #f3f7fa;
}

@font-face {
    font-family: "ProximaNovaLight";
    src: url(../fonts/ProximaNova-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: "ProximaNovaRegular";
    src: url(../fonts/ProximaNova-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: "ProximaNovaSemiBold";
    src: url(../fonts/ProximaNova-Semibold.otf);
    font-weight: 700;
}
@font-face {
    font-family: "ProximaNovaBold";
    src: url(../fonts/ProximaNova-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: "ProximaNovaExtraBold";
    src: url(../fonts/ProximaNova-Extrabold.otf);
    font-weight: 700;
}

.col-1,
.col-2,
.col-3,
.col-classic-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
	float: left;
}

@media (min-width: 320px) {
	.col-1,
	.col-2,
	.col-3,
	.col-classic-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10 {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.col-1 {
		width: 20%;
	}
	.col-2 {
		width: 50%;
	}
	.col-3,
	.col-classic-3 {
		width: 50%;
	}
}

@media (min-width: 992px) {		
	.col-1 {
		width: 10%;
	}
	.col-2 {
		width: 33.3333333%;
	}
	.col-3 {
		width: 30%;
	}
	.col-classic-3 {
		width: 33.3333333%;
	}
	.col-4 {
		width: 40%;
	}
	.col-5 {
		width: 50%;
	}
	.col-6 {
		width: 60%;
	}
	.col-7 {
		width: 70%;
	}
	.col-8 {
		width: 80%;
	}
	.col-9 {
		width: 90%;
	}
}

@media (min-width: 1192px) {
	.col-2 {
		width: 20%;
	}
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
	margin: 0;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1em;
}

p {
	margin: 0.5rem 0;
}

a, a:hover, a:focus, a:visited {
    text-decoration: none;
}

b, strong {
    font-family : "ProximaNovaBold";
}

section.full {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    -moz-flex-direction: row;
    -moz-align-content: stretch;
    -o-flex-direction: row;
    -o-align-content: stretch;
    -ms-flex-direction: row;
    -ms-align-content: stretch;
    align-content: stretch;
}

.ov-hidden {
    overflow: hidden;
}
.ov-auto {
    overflow: auto;
}
.visible {
	visibility: visible !important;
}
.hidden {
	display: none;
}

.link {
	color: #0275d8;
}

.nopadding {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.nopadding-left {
	padding-left: 0 !important;
}
.nopadding-right {
	padding-right: 0 !important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.col-centered {
	float: none;
	margin: 0 auto;
}
.container-small {
	padding: 1rem;
}
.container-medium {
	padding: 2rem;
}
.container-big {
	padding: 5rem;
}

.bg-white {
	background: #fff;
}

.text-center {
	text-align: center;
}

h1,
h2 {
	font-family: "ProximaNovaBold";
}


/* Form */
	/* Input */
input.error,
select.error,
textarea.error {
    animation: error-moves 1s;
    -webkit-animation: error-moves 1s;
    -moz-animation: error-moves 1s;
    -o-animation: error-moves 1s;
}
@keyframes error-moves {
  0% {
    transform: translate(4px,4px);
    color: red;
  }
  6% {
    transform: translate(0,-4px);
  }
  12% {
    transform: translate(-4px,4px);
  }
  18% {
    transform: translate(4px,0);
  }
  24% {
    transform: translate(4px,-4px);
  }
  30% {
    transform: translate(0,0);
  }
  60% {
    color: red;
  }
  100% {
    color: inherit;
  }
}

.input_text-like {
    display: block;
    padding: .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

	/* Checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  height: 17px;
  padding-left: 25px;
  line-height: 18px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0;
  top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 4px;
}
.red[type="checkbox"]:not(:checked) + label:before,
.red[type="checkbox"]:checked + label:before {
    border: 1px solid #f04f4f;
}
.blue[type="checkbox"]:not(:checked) + label:before,
.blue[type="checkbox"]:checked + label:before {
    border: 1px solid #6cc9ef;
}
.yellow[type="checkbox"]:not(:checked) + label:before,
.yellow[type="checkbox"]:checked + label:before {
    border: 1px solid #e6ce65;
}
.white[type="checkbox"]:not(:checked) + label:before,
.white[type="checkbox"]:checked + label:before {
    border: 1px solid #fff;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 1px;
  left: 0;
  width: 15px;
  height: 15px;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  color: #2a3a4b;
  transition: all .2s;
}
.red[type="checkbox"]:not(:checked) + label:after,
.red[type="checkbox"]:checked + label:after {
    background: #f04f4f;
}
.blue[type="checkbox"]:not(:checked) + label:after,
.blue[type="checkbox"]:checked + label:after {
    background: #6cc9ef;
}
.yellow[type="checkbox"]:not(:checked) + label:after,
.yellow[type="checkbox"]:checked + label:after {
    background: #e6ce65;
}
.white[type="checkbox"]:not(:checked) + label:after,
.white[type="checkbox"]:checked + label:after {
    background: #fff;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}


/* Teams */
.team-valor {
	background: url('../img/valor-grey.png') no-repeat bottom right #fff;
}
.team-mysthic {
    background: url('../img/mysthic-grey.png') no-repeat bottom right #fff;
}
.team-instinct {
    background: url('../img/instinct-grey.png') no-repeat bottom right #fff;
}


/* Icons */
.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
}
.icon-arrow-down-white,
.icon-arrow-down-grey {
	width: 14px;
	height: 8px;
}
.icon-arrow-right-white,
.icon-arrow-right-grey {
	width: 8px;
	height: 14px;
}
.icon-arrow-down-white {
	background-image: url("../img/chevron-down-white.png");
}
.icon-arrow-down-grey {
	background-image: url("../img/chevron-down-grey.png");
}
.icon-arrow-right-white {
	background-image: url("../img/chevron-up-white.png");
}
.icon-arrow-right-grey {
	background-image: url("../img/chevron-right-grey.png");
}
.icon-search {
	width: 80px;
	height: 80px;
	background-image: url("../img/search-icon.png");
}
.icon-user {
	width: 200px;
	height: 80px;
	background-position: 2rem center;
	background-image: url("../img/user-icon.png");
}
.icon-refresh {
    width: 25px;
    height: 16px;
	background-position: center center;
	background-image: url("../img/icon-refresh.png");
	margin-bottom: -0.2rem;
}
.icon-geoloc {
    width: 20px;
    height: 44px;
	background-position: center center;
	background-image: url("../img/icon-geoloc.png");
}
.icon-plus-white,
.icon-plus-dark-blue,
.icon-calendar,
.icon-popularity,
.icon-plus-white::after,
.icon-plus-dark-blue::after,
.icon-calendar::after,
.icon-popularity::after,
.icon-pointer,
.icon-pointer::after {
	width: 25px;
    height: 44px;
    background-position: left center;
	background-repeat: no-repeat;
}
@media (max-width: 680px), (min-width: 1110px) and (max-width: 1645px) {
	.icon-plus-white,
	.icon-plus-dark-blue,
	.icon-calendar,
	.icon-popularity,
	.icon-plus-white::after,
	.icon-plus-dark-blue::after,
	.icon-calendar::after,
	.icon-popularity::after,
	.icon-pointer,
	.icon-pointer::after {
		width: 40px;
    	background-position: center center;
	}
}

.icon-plus-white::after,
.icon-plus-dark-blue::after,
.icon-calendar::after,
.icon-pointer::after,
.icon-popularity::after {
	content: '';
}
.icon-plus-white {
	background-image: url("../img/icon-plus-white.png");
}
.icon-plus-dark-blue {
	background-image: url("../img/icon-plus-dark-blue.png");
}
.icon-calendar {
	background-image: url("../img/calendar.png");
}
.icon-pointer {
	background-image: url("../img/distance.png");
}
.icon-popularity {
	background-image: url("../img/trophy.png");
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5rkof9');
  src:  url('../fonts/icomoon.eot?5rkof9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5rkof9') format('truetype'),
    url('../fonts/icomoon.woff?5rkof9') format('woff'),
    url('../fonts/icomoon.svg?5rkof9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-event-type-1:before {
  content: "\e900";
}
.icomoon-event-type-2:before {
  content: "\e901";
}
.icomoon-event-type-3:before {
  content: "\e902";
}
.icomoon-edit:before {
  content: "\e903";
}
.icomoon-geoloc:before {
  content: "\e904";
}
.icomoon-clock:before {
  content: "\e905";
}
.icomoon-user:before {
  content: "\e906";
}
.icomoon-join:before {
  content: "\e907";
}