/**
 * Homepage
 */
#home header.headband {
	padding: 0 3rem;
}
#home .headband .button {
	margin: 1.2rem 0 0;
}
#home .headband .user_info {
	margin-right: -3rem;
	color: #2c3e50;
}
#home #introduction {
	height: 558px;
	background: url("../img/map.png") no-repeat right top;
}
#home #introduction p {
	font: 1.5em "ProximaNovaSemiBold";
}
#home input[name="location"] {
	width: calc(100% - 24px);
	height: 24px;
	line-height: 24px;
	font-size: 1.2em;
	border: 0;
	outline: 0;
}
#home .icon-search {
	width: 24px;
	height: 24px;
}
@media (max-width: 900px) {
	#home #introduction p {
		font-size: 1.2em;
	}
}
#home h3 {
	font: 2em "ProximaNovaSemiBold";
}
#home p {
	margin-bottom: 5rem;
}
#home .event_type {
	display: block;
	margin: 0 auto;
}
#home .event_type.red {
	width: 80px;
	height: 85px;
	background-image: url("../img/pokegym-icon-home.png");
}
#home .event_type.blue {
	width: 93px;
	height: 85px;
	background-image: url("../img/pokestop-icon-home.png");
}
#home .event_type.yellow {
	width: 85px;
	height: 85px;
	background-image: url("../img/walk-icon-home.png");
}
#home .name {
	margin: 2rem 0 1.5rem;
	text-transform: uppercase;
	font: 1.6em "ProximaNovaBold";
}
#home p.red {
	color: #f04f4f;
}
#home p.blue {
	color: #6cc9ef;
}
#home p.yellow {
	color: #e6ce65;
}
#home .col-md-4 p:last-child {
	font-family: "ProximaNovaBold";
}
@media (max-width: 768px) {
	#home .col-md-4 {
		margin-top: 2rem;
	}
}
#speach_2 img {
	max-width: 1162px;
	width: 80%;
	height: auto;
	margin: 0;
}
#conclusion .button-white {
	margin-left: 1rem;
}
@media (max-width: 622px) {
	#conclusion .button {
		display: block;
		margin: 1rem 0 0;
		text-align: center;
	}
}
#home footer.headband {
	height: auto;
	padding: 0 3rem;
}
#home footer {
	color: #bdc3c7;
}
#home footer a {
	display: block;
	line-height: 80px;
	text-transform: uppercase;
}
#home footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#home footer ul li {
	float: left;
	padding: 0 1.5rem;
}
#home footer ul li:first-child {
	padding-left: 0;
}
#home footer ul li:last-child {
	padding-right: 0;
}

@media (max-width: 1142px) {
	footer.headband .pull-left,
	footer.headband .pull-right {
		width: 100%;
	}
}


/**
 * Events listing
 */
/* { header } */
#mainHeader {
    z-index: 110;
}
#mainHeader h2 {
    padding: 0 2rem;
    background: #ecf0f1;
    text-transform: uppercase;
    font: 1.4em "ProximaNovaExtraBold";
    line-height: 80px;
}
#mainHeader h2 img {
    margin: -3px 2rem 0 0;
}


#mainHeader .user_info {
    position: relative;
    float: right;
    width: 245px;
    background: #fdfdfd;
    border-left: 1px solid rgba(204, 204, 204, 0.5);
    cursor: pointer;
    z-index: 200;
}
#mainHeader .user_info .user_info_team {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
#mainHeader .user_info .user_info_team.team_1 {
    background: url('/assets/img/valor.svg') no-repeat 120px -40px;
    background-size: 160px;
}
#mainHeader .user_info .user_info_team.team_2 {
    background: url('/assets/img/mysthic.svg') no-repeat 120px -30px;
    background-size: 160px;
}
#mainHeader .user_info .user_info_team.team_3 {
    background: url('/assets/img/instinct.svg') no-repeat 120px -20px;
    background-size: 160px;
}
@media (max-width: 1110px) {
    #mainHeader .user_info {
        width: 200px;
    }
    #mainHeader .user_info .user_info_team {
        background-position: 90px -20px !important;
    }
}
#mainHeader .user_info * {
    line-height: 80px !important;
}
#mainHeader .icomoon-user {
    padding: 0 1rem 0 2rem;
    font-size: 1.2em;
}
#mainHeader .username {
    font: 1em "ProximaNovaSemiBold";
}
#mainHeader .hamburger {
    display: none;
    float: left;
    width: 80px;
    height: 80px;
    background: black;
}

/* { map } */
#map_container header,
#map_container footer {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 3rem;
}
#map_container header {
    display: none;
    top: 0;
    text-align: right;
}


@media (max-width: 1110px) {
    #mainHeader .hamburger {
        display: block;
    }
}
@media (max-width: 768px) {

    #map_container {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 250;
    }
    #map_container header {
        display: block;
    }
    #map_container #map {
        position: absolute !important;
        bottom: 0;
        width: 100%;
    }
}

#events_action {
    position: relative;
}
#events_action #elements {
    line-height: 45px;
    background: #fff;
    border-bottom: 1px solid #dfe1e2;
    border-radius: 4px;
}
@media (max-width: 680px), (min-width: 768px) and (max-width: 1662px) {
    #events_action #add_event {
        width: 100%;
    }
    #events_action #elements {
        width: 100%;
        margin: 2rem 0 0;
    }
    #events_action .label-action {
        display: none;
    }
    #events_action .icon,
    #events_action .hoverable .icon::after,
    #events_action .hoverable:hover .icon::after {
        width: 40px;
        background-position: center center;
    }
}
#events_action .element {
    padding: 0 0.8rem;
    font-family: "ProximaNovaRegular";
    text-transform: initial;
}
#events_action .element.hoverable {
    height: 45px;
    border-right: 1px solid #dfe1e2;
}
#events_action .element.hoverable:first-child {
    border-right: none;
}
#events_action .element.hoverable:last-child {
    border-left: 1px solid #dfe1e2;
}
#events_action .element.hoverable.active,
#events_action .element.hoverable:hover {
    background: #ecf0f1;
    color: #3498db;
    cursor: pointer;
}
#events_action .element.hoverable.active .icon,
#events_action .element.hoverable:hover .icon {
    background-image: none;
}
#events_action .element.active .icon::after,
#events_action .element:hover .icon::after {
    display: block;
}
#events_action .element.active .icon-plus::after,
#events_action .element:hover .icon-plus::after {
    background-image: url("../img/plus-hover.png");
}
#events_action .element.active .icon-calendar::after,
#events_action .element:hover .icon-calendar::after {
    background-image: url("../img/calendar-hover.png");
}
#events_action .element.active .icon-pointer::after,
#events_action .element:hover .icon-pointer::after {
    background-image: url("../img/distance-hover.png");
}
#events_action .element.active .icon-popularity::after,
#events_action .element:hover .icon-popularity::after {
    background-image: url("../img/trophy-hover.png");
}

#events_action .element.hoverable:first-child {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/**
 * Popin event add
 */
#add_event #form_start_at_date select,
#add_event #form_start_at_time select {
	display: inline;
	width: auto !important;
}
#add_event #form_start_at_date select {
	margin-right: 0.8rem;
}
#add_event #form_start_at_date select:last-child {
	margin-right: 0;
}

/**
 * Pages
 */
.page {
    overflow-x: auto;
    height: 100%;
}
.page section.main {
    padding: 28px;
}
.page article {
    margin-top: 40px;
}
.page article h3, .page article h4 {
    margin-bottom: 10px;
}
.page article h4 {
    margin-top: 20px;
}
