#home header.headband {
	padding: 0 3rem;
}
#home .headband .button {
	margin: 1.2rem 0 0;
}
#home .headband .user_info {
	margin-right: -3rem;
	color: #2c3e50;
}
#home #introduction {
	height: 558px;
	background: url("../img/map.png") no-repeat right top;
}
#home #introduction h2 {
	font-size: 3em;
}
#home #introduction p {
	font: 1.5em "ProximaNovaSemiBold";
	margin-bottom: 5rem;
}
#introduction input[name="location"] {
	width: calc(100% - 24px);
	height: 24px;
	line-height: 24px;
	font-size: 1.2em;
	border: 0;
	outline: 0;
}
#introduction .icon-search {
	width: 24px;
	height: 24px;
}
@media (max-width: 900px) {
	#home #introduction h2 {
		font-size: 2.5em;
	}
	#home #introduction p {
		font-size: 1.2em;
	}
}
#home .speach {
	text-align: center;
}
.speach h3 {
	font: 2em "ProximaNovaSemiBold";
}
.speach p {
	margin-bottom: 5rem;
}
#speach_1 .event_type {
	display: block;
	margin: 0 auto;
}
#speach_1 .event_type.red {
	width: 80px;
	height: 85px;
	background-image: url("../img/pokegym-icon-home.png");
}
#speach_1 .event_type.blue {
	width: 93px;
	height: 85px;
	background-image: url("../img/pokestop-icon-home.png");
}
#speach_1 .event_type.yellow {
	width: 85px;
	height: 85px;
	background-image: url("../img/walk-icon-home.png");
}
#speach_1 .name {
	margin: 2rem 0 1.5rem;
	text-transform: uppercase;
	font: 1.6em "ProximaNovaBold";
}
#speach_1 p.red {
	color: #f04f4f;
}
#speach_1 p.blue {
	color: #6cc9ef;
}
#speach_1 p.yellow {
	color: #e6ce65;
}
#speach_1 .col-md-4 p:last-child {
	font-family: "ProximaNovaBold";
}
@media (max-width: 768px) {
	#speach_1 .col-md-4 {
		margin-top: 2rem;
	}
}
#speach_2 img {
	max-width: 1162px;
	width: 80%;
	height: auto;
	margin: 0;
}
#conclusion .button-white {
	margin-left: 1rem;
}
@media (max-width: 622px) {
	#conclusion .button {
		display: block;
		margin: 1rem 0 0;
		text-align: center;
	}
}
#home footer.headband {
	height: auto;
	padding: 0 3rem;
}
#home footer {
	color: #bdc3c7;
}
#home footer a {
	display: block;
	line-height: 80px;
	text-transform: uppercase;
}
#home footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#home footer ul li {
	float: left;
	padding: 0 1.5rem;
}
#home footer ul li:first-child {
	padding-left: 0;
}
#home footer ul li:last-child {
	padding-right: 0;
}

@media (max-width: 1142px) {
	footer.headband .pull-left,
	footer.headband .pull-right {
		width: 100%;
	}
}

