#connection .form-section {
    padding: 1rem;
}
#connection .form-section:last-child {
    border-left: 1px solid rgba(204, 204, 204, 0.5);
}
@media (max-width: 768px) {
    #connection .form-section {
        margin: 0 0 3rem 0;
    }
    #connection .form-section:last-child {
        border-left: none;
        border-top: 1px solid rgba(204, 204, 204, 0.5);
    }
}


/* { wrapper } */
    /* { wrapper fixed/scrollable } */
#wrapper_fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.scrollable #wrapper_fixed {
    position: relative;
    top: initial;
}


/* Listing */
.mobile_menu #wrapper {
    overflow: hidden;
}

#events {
    position: relative;
    top: 0;
    margin: 0 auto;
}

#events_container {
    overflow-y: scroll;
}

#events_container header .element {
    height: 45px;
    padding: 0 2rem;
    line-height: 45px;
    background: #fff;
    border-bottom: 1px solid #dfe1e2;
    border-radius: 4px;
}


#events .card {
    visibility: hidden;
}

#events .alert {
    width: 100%;
    position: absolute;
    top: 215px;
    left: 0;
}

.card {
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(197, 197, 197, 0.5);
}
.card h4 {
    height: 40px;
    padding: 0 1.5rem;
    line-height: 40px !important;
    color: #fff;
    font: 1.2em "ProximaNovaSemiBold";
}
.card.red h4 {
    background: #F04F4F;
}
.card.blue h4 {
    background: #6CC9EF;
}
.card.yellow h4 {
    background: #E6CE65;
}
.card h4 img {
    margin-top: 0.5rem;
}

.card .data_info {
    border-bottom: 1px solid rgba(197, 197, 197, 0.5);
}

.card .votes {
    padding: 0.5rem 2rem 0 0;
    line-height: 1.4rem;
}
.card .date {
    padding: 0.5rem 0 0.5rem 2rem;
}
.card .date,
.card .votes {
    font-size: 1.1em;
}
.card .distance {
    padding: 0.5rem 2rem 0;
    bottom: 1rem;
    left: 2rem;
    font: 1.6em "ProximaNovaSemiBold";
}
.card .user {
    padding: 1rem 2rem 0;
    bottom: 1rem;
    right: 2rem;
    color: #bdc3c7;
}
.card .date strong,
.card .votes strong {
    font-family: "ProximaNovaSemiBold";
}
.card .pin {
    margin: 0.2rem 0.8rem 0 0;
}
.card.active .pin {
    background: green;
}
.card .votes .icomoon-user {
    margin: 0 0.8rem 0 0;
}

.card.valor .data_info {
    background: url('../img/valor-grey.png') no-repeat bottom right #fff;
}
.card.mysthic .data_info {
    background: url('../img/mysthic-grey.png') no-repeat bottom right #fff;
}
.card.instinct .data_info {
    background: url('../img/instinct-grey.png') no-repeat bottom right #fff;
}

.card .event_action {
    display: block;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: "ProximaNovaSemiBold";
}
.card .event_action[data-action="join"] {
    color: #3498db !important;
}
.card .event_action[data-action="leave"] {
    color: #e67e22 !important;
}

#events .card {
    width: 320px;
    position: absolute;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#events .card:hover {
    box-shadow: 0 10px 15px rgba(100, 100, 100, 0.5);
}


/* Popin Add event */
#modal .search_bar {
    overflow: hidden;
    padding-left: 1rem;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
#modal .search_bar input[type="text"] {
    width: calc(100% - 170px);
    padding: 0;
}
@media (max-width: 1110px) {
    #modal .search_bar input[type="text"] {
        width: calc(100% - 170px);
    }
}
@media (max-width: 680px) {
    #modal .search_bar input[type="text"] {
        width: calc(100% - 170px);
    }
}

#map_add_event {
    height: 200px;
}
