.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2.857rem;
    height: 100%;
    width: 0.14rem;
    background: #d8d8d8;
}

.timeline {
    min-height: 100%;
    position: relative;
    padding-bottom: 0.14rem;
}

.timeline .item {
    position: relative;
    margin: 0rem 0.714rem 1rem 4.786rem;
    border-bottom: 0.0714rem solid #ecf0f1;
    font-weight: 600;
    color: #34495e;
    padding-bottom: 1.07rem;
}

.timeline .item:last-child {
    margin-bottom: 0;
    border: none;
}

.timeline .bubble {
    position: absolute;
    top: 0;
    left: -2.94rem;
    background: #fff;
    border-radius: 10.0rem;
    height: 2.286rem;
    width: 2.286rem;
    box-shadow: 0 2px 4px 0 rgba(197, 197, 197, 0.5);
    font-size: 1.286rem;
    line-height: 2.286rem;
    text-align: center;
    padding-top: 4.5px;
}

.timeline .title {
    font-weight: 700;
}

.timeline .date {
    font-size: 0.857rem;
    font-weight: 600;
    padding-left: 0;
}
.timeline .location {
    color: #95a5a6;
    font-size: 0.857rem;
}
