.user .background {
    position: relative;
    width: 100%;
    height: 10.8rem;
}
.user .background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.user .username {
    position: absolute;
    top: 106px;
    right: 50%;
    margin-right: 80px;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    color: #ffffff;
}
.user .pic {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(197, 197, 197, 0.5);
    text-align: center;
}

.user .pic i {
    margin-top: 25px;
    display: inline-block;
    font-size: 50px;
}

.user .bg-team-1 .overlay { background-image: linear-gradient(to bottom, #FF8282, #F04F4F); }
.user .bg-team-1 .pic i { color: #f04f4f; }
.user .bg-team-2 .overlay { background-image: linear-gradient(to bottom, #9FFCFF, #6cc9ef); }
.user .bg-team-2 .pic i { color: #6cc9ef; }
.user .bg-team-3 .overlay { background-image: linear-gradient(to bottom, #FFFF98, #e6ce65); }
.user .bg-team-3 .pic i { color: #e6ce65; }


@media (min-width: 1192px) {
    .user .card-body {
        height: 32.7rem;
    }
}

.user .card-body .event_team_1 .title, .user .card-body .event_team_1 .bubble { color: #f04f4f; }
.user .card-body .event_team_2 .title, .user .card-body .event_team_2 .bubble { color: #6cc9ef; }
.user .card-body .event_team_3 .title, .user .card-body .event_team_3 .bubble { color: #e6ce65; }
.user .card-body .timeline.past-events .event { color: #95a5a6; }

.my-events {
    padding: 0 1.429rem;
}
.my-events .event {
    font-size: 0.857rem;
    font-weight: 600;
    color: #34495e;
    border-bottom: .143rem solid #e5e5e5;
    padding: 0 0.714rem 1.428rem;
    border-radius: .4rem;
    -moz-border-radius: .4rem;
    -webkit-border-radius: .4rem;   
    margin-bottom: 2.0rem; 
    text-align: center;
}
.my-events .event:last-child {
    border-bottom: none;
}
.my-events .event > div {
    margin-bottom: 0.786rem;
    text-align: left;
    padding-left: 0;
}
.my-events .event > div > [class^="icomoon-"] {
    margin-right: 0.4rem;
}
.my-events .title {
    font-size: 1rem;
    font-weight: 700;
}
.my-events .bubble {
    font-size: 1.286rem;
}

.my-events a {
    font-size: 0.93rem;
    font-weight: 700;
    color: #95a5a6;
    margin-top: 0.71rem;
}

.my-events a i {
    margin-right: 1rem;
}

.no-event {
    color: #95a5a6;
    font-weight: 700;
    text-align: center;
}

.no-event .button {
    padding-left: 1.429rem;
    padding-right: 1.429rem;
}
.no-event i {
    margin-right: 1.429rem;
}
.no-event p {
    margin: 1.429rem auto 2.143rem;
}