{% extends "common/layout.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if code == 404 %}
                <h1>Cette page n'existe pas.</h1>
            {% elseif code == 401 or code == 403 %}
                <h1>Vous n'etes pas autorisé à acceder cette page.</h1>
            {% else %}
                <h1>{{ message }}</h1>
                {% if exception.getMessage() is not empty %}
                    <div class="alert alert-danger">
                        {{ exception.getMessage() }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}