{% for success in app.session.getFlashBag.get('success') %}
    <div class="alert alert-success">{{ success|raw }}</div>
{% endfor %}
{% for warning in app.session.getFlashBag.get('warning') %}
    <div class="alert alert-warning">{{ warning|raw }}</div>
{% endfor %}
{% for error in app.session.getFlashBag.get('error') %}
    <div class="alert alert-danger">{{ error|raw }}</div>
{% endfor %}