<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Back-Office{% endblock %}</title>
    <link href="{{ app.request.basepath }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/assets/css/metisMenu.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ app.request.basepath }}/bo/css/sb-admin-2.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/bo/css/styles.css" rel="stylesheet">
    {% block styles_top %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        {% block header %}
            {% include 'common/menu.twig' %}
        {% endblock %}
        <div id="page-wrapper">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ app.request.basepath }}/assets/js/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/assets/js/metisMenu.min.js"></script>
    <script src="{{ app.request.basepath }}/bo/js/sb-admin-2.js"></script>
    {% block scripts_bottom %}{% endblock %}
</body>
</html>
