{%  if route is not defined and pager.route is defined %}
{%    set route = pager.route %}
{%  endif %}
{%  if params is not defined and pager.params is defined %}
{%    set params = pager.params %}
{%  endif %}
{%  set defaultPreviousOptions = {offset: pager.offset - 1} %}
{%  set defaultNextOptions = {offset: pager.offset + 1} %}

{%  if params is defined %}
{%    set previousOptions = params|merge(defaultPreviousOptions) %}
{%    set nextOptions = params|merge(defaultNextOptions) %}
{%  else %}
{%    set previousOptions = defaultPreviousOptions %}
{%    set nextOptions = defaultNextOptions %}
{%  endif %}


<ul class="pager">
  {% if pager.previous %}
    <li class="previous"><a href="{{ url(route, previousOptions) }}">&larr; Précédent</a></li>
  {% else %}
    <li class="previous disabled"><a href="#">&larr; Précédent</a></li>
  {% endif %}
  {% if pager.next %}
    <li class="next"><a href="{{ url(route, nextOptions) }}">Suivant &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a href="#">Suivant &rarr;</a></li>
  {% endif %}
</ul>
