{% extends "common/layout_ajax.twig" %}

{% block content %}
<section id="connection">
    <header class="headband headband-white m-b-3"><span class="pull-right" id="close">Close</span></header>
    <div class="col-md-6 form-section">
        <h4>{{ 'sign_in_title'|trans }}</h4>
        {% for error in app.session.getFlashBag.get('signin_errors') %}
            <div class="global-error alert alert-danger">{{ error|raw }}</div>
        {% endfor %}
        <form action="{{ signinForm.action }}" method="{{ signinForm.method }}" role="form" class="formConnection" data-redirect="/events" onsubmit="form_global.request(this);">
            {{ form_widget(signinForm.view, { 'id': 'signin' }) }}
            <div class="global-error alert alert-danger m-t-1 m-b-1 hidden"></div>
            <button type="submit" class="button button-dark-blue">{{ 'sign_in_button'|trans }}</button>
        </form>
    </div>
    <div class="col-md-6 form-section">
        <h4>{{ 'sign_up_title'|trans }}</h4>
        {% for error in app.session.getFlashBag.get('signup_errors') %}
            <div class="global-error alert alert-danger">{{ error|raw }}</div>
        {% endfor %}
        <form action="{{ signupForm.action }}" method="{{ signupForm.method }}" role="form" class="formConnection" data-redirect="/events" onsubmit="form_global.request(this);">
            {{ form_widget(signupForm.view, { 'id': 'signup' }) }}
            <div class="global-error alert alert-danger m-t-1 m-b-1 hidden"></div>
            <button type="submit" class="button button-dark-blue">{{ 'sign_up_button'|trans }}</button>
        </form>
    </div>
</section>
{% endblock %}