{% extends "common/layout.twig" %}

{% block title %}Users - Back-Office{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% if user is defined %}
                    User #{{ user.id }}
                {% else %}
                    Add user
                {% endif %}
            </h1>
        </div>
        <div class="col-lg-12">
            {% if 'POST' == form.method %}
                <form action="{{ form.action }}" method="{{ form.method }}" role="form" enctype="multipart/form-data">
            {% else %}
                <form action="{{ form.action }}" method="POST">
                    <input type="hidden" name="_method" value="{{ form.method }}" role="form">
            {% endif %}
                {{ form_widget(form.view) }}
                 <div class="form-actions">
                    <button type="submit" class="btn btn-default">Appliquer</button>
                </div>
            </form>
            {% if user is defined %}
                <hr />
                <form action="{{ formStatus.action }}" method="{{ formStatus.method }}" role="form">
                    {{ form_widget(formStatus.view) }}
                     <div class="form-actions">
                        <button type="submit" class="btn btn-default">Appliquer</button>
                    </div>
                </form>
                <hr />
                <form action="{{ formAcl.action }}" method="{{ formAcl.method }}" role="form">
                    {{ form_widget(formAcl.view) }}
                     <div class="form-actions">
                        <button type="submit" class="btn btn-default">Appliquer</button>
                    </div>
                </form>
            {% endif%}
        </div>
    </div>
{% endblock %}
