{% extends "common/layout.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User #{{ user.id }}</h1>
        </div>
        <div class="col-lg-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>Id</td><td>{{ user.id }}</td></tr>
                    <tr><td>Username</td><td>{{ user.username|e }}</td></tr>
                    <tr><td>Email</td><td>{{ user.email|e }}</td></tr>
                    <tr><td>Description</td><td>{{ user.description|e|nl2br }}</td></tr>
                    <tr><td>Team</td><td>{% if user.team_id != 0 %}{{ teams[user.team_id] }}{% endif %}</td></tr>
                    <tr><td>Status</td><td>{{ reasons[user.status] }}</td></tr>
                    <tr><td>Acl</td><td>{{ acl[user.acl] }}</td></tr>
                    <tr><td>Created at</td><td>{{ user.created_at|e }}</td></tr>
                    <tr><td>Updated at</td><td>{{ user.updated_at|e }}</td></tr>
                    <tr><td>Activity at</td><td>{{ user.activity_at|e }}</td></tr>
                    <tr><td colspan="2">
                            <form action="{{ url('bo_users_delete', {resourceId: user.id}) }}" method="POST">
                                <a href="{{ url('bo_users_edit', {resourceId: user.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
