{% extends "common/layout.twig" %}

{% block title %}Users - Back-Office{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Users</h1>
        </div>
        <div class="col-lg-12 table-responsive">
            {% include 'common/form_flashbag.twig' %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th>Team</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr id="user-{{ user.id }}">
                        <td><a href="{{ url('bo_users_get', {resourceId: user.id}) }}">{{ user.id }}</a></td>
                        <td><a href="{{ url('bo_users_get', {resourceId: user.id}) }}">{{ user.username|e }}</td>
                        <td><a href="mailto:{{ user.email|e }}" target="_blank">{{ user.email|e }}</td>
                        <td>{{ user.description|e|nl2br }}</td>
                        <td>{% if user.team_id != 0 %}{{ teams[user.team_id] }}{% endif %}</td>
                        <td>{{ reasons[user.status]|e }}</td>
                        <td align="right">
                            <form action="{{ url('bo_users_delete', {resourceId: user.id}) }}" method="POST">
                                <a href="{{ url('bo_users_edit', {resourceId: user.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'common/pager.twig' with {'route': 'bo_users_list', 'pager': pager} only %}
    </div>
{% endblock %}
