{% extends "common/layout.twig" %}

{% block styles_top %}
    <link href='{{ app.request.basepath }}/bo/css/bootstrap-datepicker.css' rel='stylesheet' type='text/css' />
{% endblock %}

{% block title %}Events - Back-Office{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% if event is defined %}
                    Event #{{ event.id }}
                {% else %}
                    Add event
                {% endif %}
            </h1>
        </div>
        <div class="col-lg-12">
            {% if 'POST' == form.method %}
                <form action="{{ form.action }}" method="{{ form.method }}" role="form">
            {% else %}
                <form action="{{ form.action }}" method="POST">
                    <input type="hidden" name="_method" value="{{ form.method }}" role="form">
            {% endif %}
                {{ form_widget(form.view) }}
                 <div class="form-actions">
                    <button type="submit" class="btn btn-default">Appliquer</button>
                </div>
            </form>
            {% if event is defined %}
                <hr />
                <form action="{{ formStatus.action }}" method="{{ formStatus.method }}" role="form">
                    {{ form_widget(formStatus.view) }}
                     <div class="form-actions">
                        <button type="submit" class="btn btn-default">Appliquer</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').datetimepicker({
                allowInputToggle: true,
                format: "YYYY-MM-DD HH:mm"
            });
        })
    </script>
    <script src="{{ app.request.basepath }}/bo/js/moment.js"></script>
    <script src="{{ app.request.basepath }}/bo/js/bootstrap-datepicker.js"></script>
{% endblock %}