{% extends "common/layout.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Event #{{ event.id }}</h1>
        </div>
        <div class="col-lg-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>Id</td><td>{{ event.id }}</td></tr>
                    <tr><td>Title</td><td>{{ event.title|e }}</td></tr>
                    <tr><td>Author</td><td><a href="{{ url('bo_users_get', {resourceId: event.user.id}) }}">{{ event.user.username|e }}</a></td></tr>
                    <tr><td>Team</td><td>{{ teams[event.team_id] }}</td></tr>
                    <tr><td>Description</td><td>{{ event.description|e|nl2br }}</td></tr>
                    <tr><td>Start at</td><td>{{ event.start_at|date('Y-m-d H:i:s') }}</td></tr>
                    <tr><td>End at</td><td>{{ event.end_at }}</td></tr>
                    <tr><td>Location</td><td>
                        {% if event.location is not empty %}
                            <a href="https://www.google.fr/maps/place/{{ event.location['latitude'] }},{{ event.location['longitude'] }}" target="_blank">map</a>
                        {% endif %}
                    </td></tr>
                    <tr><td>Status</td><td>{{ reasons[event.status] }}</td></tr>
                    <tr><td colspan="2">
                            <form action="{{ url('bo_events_delete', {resourceId: event.id}) }}" method="POST">
                                <a href="{{ url('bo_events_edit', {resourceId: event.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
