{% extends "common/layout.twig" %}

{% block title %}Événements - Back-Office{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Événements</h1>
        </div>
        <div class="col-lg-12 table-responsive">
            {% include 'common/form_flashbag.twig' %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Author</th>
                    <th>Team</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Event Type</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Is Sponsored</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr id="event-{{ event.id }}">
                        <td><a href="{{ url('bo_events_get', {resourceId: event.id}) }}">{{ event.id }}</a></td>
                        <td><a href="{{ url('bo_users_get', {resourceId: event.user.id}) }}">{{ event.user.username|e }}</a></td>
                        <td>{{ teams[event.team_id] }}</td>
                        <td><a href="{{ url('bo_events_get', {resourceId: event.id}) }}">{{ event.title|e }}</a></td>
                        <td>{{ event.description|e|nl2br }}</td>
                        <td>{{ eventtypes[event.event_type] }}</td>
                        <td>{{ event.start_at|date("d/m/Y H:i") }}<br />{% if event.end_at is not null %}{{ event.end_at|date("d/m/Y H:i") }}{% endif %}</td>
                        <td>
                            {% if event.location is not empty %}
                                <a href="https://www.google.fr/maps/place/{{ event.location['latitude'] }},{{ event.location['longitude'] }}" target="_blank">map</a>
                            {% endif %}
                        </td>
                        <td>{% if event.is_sponsored == 1 %}<i class="fa fa-check"></i>{% endif %}</td>
                        <td>{{ reasons[event.status] }}</td>
                        <td align="right">
                            <form action="{{ url('bo_events_delete', {resourceId: event.id}) }}" method="POST">
                                <a href="{{ url('bo_events_edit', {resourceId: event.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'common/pager.twig' with {'route': 'bo_events_list', 'pager': pager} only %}
    </div>
{% endblock %}
