{% extends "common/layout.twig" %}

{% block title %}Pokeasy{% endblock %}

{% block content %}
    <div class="page col-md-12 col-sm-12 col-xs-12 nopadding" id="wrapper">
        {% include 'common/header_white.twig' with {'menu_title': 'contact_us'|trans }  %}
        <section class="main col-md-6 col-xs-12">
            <article>
                {% if app.session.getFlashBag.peek('errors')|length %}
                    <ul class="alert alert-danger list-unstyled">
                        {% for error in app.session.getFlashBag.get('errors') %}
                            <li><strong>Error</strong> : {{ error|trans }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if app.session.getFlashBag.peek('success')|length %}
                    <ul class="alert alert-success list-unstyled">
                        {% for success in app.session.getFlashBag.get('success') %}
                            <li>{{ success|trans }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </article>

            <article>
                <form action="{{ form.action }}" method="{{ form.method }}" role="form">
                    {{ form_widget(form.view) }}
                    <div class="form-actions">
                        <button type="submit" class="button button-dark-blue">{{ 'contact_send'|trans }}</button>
                    </div>
                </form>
            </article>
        </section>
    </div>
{% endblock %}
