{% extends "common/layout.twig" %}

{% block title %}Cookies / Vie privée - Pokeasy{% endblock %}

{% block content %}
    <div class="page col-md-12 col-sm-12 col-xs-12 nopadding" id="wrapper">
        {% include 'common/header_white.twig' with {'menu_title': 'Cookies / Vie privée' }  %}
        <section class="main">
            <header class="title">
                <p>Pokeasy souhaite vous informer de manière claire et transparente sur l'usage des cookies lors de votre navigation sur son site web.</p>
            </header>

            <article>
                <h3>1. Qu'est-ce qu'un cookie&nbsp;?</h3>
                <p>
                    Un cookie (ou témoin de connexion) est un ensemble de données stocké sur le disque dur de votre terminal (ordinateur, tablette, mobile) par le biais de votre logiciel de navigation à l'occasion de la consultation d'un service en ligne.<br /><br />
                    Les cookies enregistrés par nous ou par des tiers lorsque vous visitez nos sites et applications ne vous reconnaissent pas personnellement en tant qu'individu, mais reconnaissent seulement l'appareil que vous êtes en train d'utiliser. Les cookies ne stockent aucune donnée personnelle sensible mais donnent simplement une information sur votre navigation de façon à ce que votre terminal puisse être reconnu plus tard.<br /><br />
                    Les cookies ne causent aucun dommage à votre appareil, mais permettent plus facilement par exemple de retrouver vos préférences, de pré-remplir certains champs et d'adapter le contenu de nos services.<br /><br />
                    Vous seul(e) choisissez si vous souhaitez avoir des cookies enregistrés sur votre appareil et vous pouvez facilement contrôler l'enregistrement des cookies. Pour une information spécifique sur la gestion et le contrôle des cookies, veuillez-vous référer à la rubrique 3. Vos choix concernant les cookies.
                </p>
            </article>
            
            <article>
                <h3>2. Quels sont les cookies présents sur nos sites et applications&nbsp;?</h3>
                <h4>2.1 Les cookies fonctionnels</h4>
                <p>Les cookies fonctionnels que nous émettons nous permettent&nbsp;:</p>
                <ul>
                    <li>d'adapter la présentation de nos sites, applications et espaces publicitaires aux préférences d'affichage de votre terminal (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc), selon les matériels et les logiciels de visualisation ou de lecture que votre terminal comporte&nbsp;;</li>
                    <li>de faciliter vos recherches en conservant vos recherches automatiques ainsi que votre position géographique&nbsp;;</li>
                    <li>d'améliorer votre expérience utilisateur en pré-remplissant certains champs de nos formulaires</li>
                </ul>
                <h4>2.2 Les cookies de statistiques (ou analytiques)</h4>
                <p>Les cookies analytiques que nous émettons nous permettent de mieux connaître nos sites et applications et d'améliorer nos services en établissant des statistiques et volumes de fréquentation et d'utilisation (rubriques et contenus visités, parcours...).</p>
                <h4>2.3 Les cookies publicitaires</h4>
                <p>Les cookies publicitaires servent à afficher des publicités plus pertinentes pour vous et vos centres d'intérêts. Ils sont aussi utilisés pour limiter le nombre de fois où vous voyez une publicité et pour aider à mesurer l'efficacité d'une campagne publicitaire. Leur durée de vie est de 60 jours.</p>
            </article>

            <article>
                <h3>3. Vos choix concernant les cookies</h3>
                <p>
                    Il est important de noter que tout paramétrage que vous pouvez entreprendre sera susceptible de modifier votre navigation sur Internet et vos conditions d'accès à certains services nécessitant l'utilisation de cookies.<br /><br />
                    Si vous refusez l'enregistrement de ces derniers dans votre terminal, ou si vous supprimez ceux qui y sont enregistrés, vous ne pourrez plus bénéficier d'un certain nombre de fonctionnalités qui peuvent être nécessaires pour naviguer dans certains espaces de nos Sites et Applications.<br /><br />
                    Vous pouvez faire le choix à tout moment d'exprimer et de modifier vos souhaits, par les moyens décrits ci-dessous&nbsp;:
                </p>
                <h4>3.1 Les choix qui vous sont offerts par votre logiciel de navigation</h4>
                <p>
                    Vous pouvez configurer votre logiciel de navigation de manière à ce que des cookies soient enregistrés dans votre terminal ou, au contraire, qu'ils soient rejetés. Certains navigateurs vous permettent de définir des règles pour gérer les cookies site par site.<br /><br />
                    Pour la gestion des cookies, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits&nbsp;:
                </p>
                <ul>
                    <li>Pour Internet Explorer™&nbsp;: <a href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies">http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies</a></li>
                    <li>Pour Safari™&nbsp;: <a href="http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html"> http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html </a></li>
                    <li>Pour Chrome™&nbsp;: <a href="http://support.google.com/chrome/bin/answer.py?hl=fr&amp;hlrm=en&amp;answer=95647"> http://support.google.com/chrome/bin/answer.py?hl=fr&amp;hlrm=en&amp;answer=95647 </a></li>
                    <li>Pour Firefox™&nbsp;: <a href="http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies"> http://support.mozilla.org/fr/kb/activer-desactiver-cookies </a></li>
                    <li>Pour Opera™&nbsp;: <a href="http://help.opera.com/Windows/10.20/fr/cookies.html"> http://help.opera.com/Windows/10.20/fr/cookies.html </a></li>
                </ul>
                <p><strong>Nous vous invitons à nous contacter, pour toute question ou plainte requête relative aux cookies utilisés par notre site et/ou à la publicité, à l’adresse email suivante&nbsp;: privacy@pokeasy.net.</strong></p>                
            </article>
        </section>
    </div>
{% endblock %}