{% extends "common/layout.twig" %}

{% block title %}Auth{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Connexion</div>
                    <div class="panel-body">
                        <form id="form-sign-in" action="{{ form.action }}" method="{{ form.method }}" role="form" class="form-horizontal">
                            {% for error in app.session.getFlashBag.get('errors') %}
                                <div class="form-errors text-danger text-center">{{ error }}</div>
                            {% endfor %}
                            {{ form_widget(form.view) }}
                            {{ form_row(form.view._token) }}
                            <div class="form-group">
                                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                                    <button type="submit" class="btn btn-primary">Se connecter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}